<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kitchen main</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/kitchen_styles.css" rel="stylesheet">
</head>
<body>
    <!-- Navbar Section -->
    {% include 'navbar-kitchen.html' %}

    <!-- Order Table Section -->
    <div class="container my-5">
        <h3 class="table-order">Table : <span class="text-danger">3</span></h3>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="kitchen-main-table-head">Order</th>
                    <th class="kitchen-main-table-head">Ad-On</th>
                    <th class="kitchen-main-table-head">Note</th>
                    <th class="kitchen-main-table-head">State</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="kitchen-main-table-field">กะเพราหมูสับ</td>
                    <td class="kitchen-main-table-field">พิเศษ, ไข่ดาว</td>
                    <td class="kitchen-main-table-field">ไม่เผ็ด</td>
                    <td class="kitchen-main-table-field">เสิร์ฟแล้ว</td>
                </tr>
                <tr>
                    <td class="kitchen-main-table-field">กะเพราหมูสับ</td>
                    <td class="kitchen-main-table-field">ไข่ดาว</td>
                    <td class="kitchen-main-table-field">เผ็ดน้อย</td>
                    <td class="kitchen-main-table-field">กำลังเตรียม</td>
                </tr>
                <tr>
                    <td class="kitchen-main-table-field">ไข่เจียวปู</td>
                    <td class="kitchen-main-table-field">-</td>
                    <td class="kitchen-main-table-field">-</td>
                    <td class="kitchen-main-table-field">ยังไม่เตรียม</td>
                </tr>
            </tbody>
        </table>
        <h3 class="table-order">Table : <span class="text-danger">4</span></h3>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="kitchen-main-table-head">Order</th>
                    <th class="kitchen-main-table-head">Ad-On</th>
                    <th class="kitchen-main-table-head">Note</th>
                    <th class="kitchen-main-table-head">State</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="kitchen-main-table-field">ปูผัดผงกะหรี่</td>
                    <td class="kitchen-main-table-field">พิเศษ</td>
                    <td class="kitchen-main-table-field">-</td>
                    <td class="kitchen-main-table-field">ยังไม่เตรียม</td>
                </tr>
                <tr>
                    <td class="kitchen-main-table-field">ข้าวหอมมะลิ</td>
                    <td class="kitchen-main-table-field">-</td>
                    <td class="kitchen-main-table-field">-</td>
                    <td class="kitchen-main-table-field">ยังไม่เตรียม</td>
                </tr>
                <tr>
                    <td class="kitchen-main-table-field">ข้าวหอมมะลิ</td>
                    <td class="kitchen-main-table-field">-</td>
                    <td class="kitchen-main-table-field">-</td>
                    <td class="kitchen-main-table-field">ยังไม่เตรียม</td>
                </tr>
                <tr>
                    <td class="kitchen-main-table-field">ข้าวหอมมะลิ</td>
                    <td class="kitchen-main-table-field">-</td>
                    <td class="kitchen-main-table-field">-</td>
                    <td class="kitchen-main-table-field">ยังไม่เตรียม</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
