<div class="container my-5">
    <h2 class="mb-4">ตะกร้า</h2>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div>
                <h5 class="mb-1">ไก่ทอดซอสเกาหลี</h5>
                <p class="mb-1">จำนวน : 1</p>
                <p class="mb-1">เพิ่มเติม : -</p>
                <p class="mb-1">หมายเหตุ : -</p>
            </div>
            <div class="d-flex flex-column align-items-end">
                <span class="badge bg-primary rounded-pill mb-2">69 บาท</span>
                <button type="button" class="btn btn-danger btn-sm">Delete</button>
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div>
                <h5 class="mb-1">หนวดหมึกชุบแป้งทอด</h5>
                <p class="mb-1">จำนวน : 1</p>
                <p class="mb-1">เพิ่มเติม : -</p>
                <p class="mb-1">หมายเหตุ : -</p>
            </div>
            <div class="d-flex flex-column align-items-end">
                <span class="badge bg-primary rounded-pill mb-2">89 บาท</span>
                <button type="button" class="btn btn-danger btn-sm">Delete</button>
            </div>
        </li>
    </ul>
    <div class="mt-4">
        <h4>ยอดสุทธิ : 158 บาท</h4>
    </div>
</div>