<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/styles.css" rel="stylesheet">

    <title>Apptizer</title>
</head>

<body>
    <!-- Navbar -->
    {% include 'navbar-main.html' %}

    <!-- Menu Section -->
    {% include 'main-menu-section.html' %}

    <!-- Cart Section -->
    {% include 'main-cart-section.html' %}

    <!-- Table Section -->
    {% include 'main-table-section.html' %}

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>